 body {
    background: midnightblue;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    max-width:1000px ;
  }
  .source{
    display: block;
    justify-content: space-around;
    position:relative;
    outline: 1px solid white;
    margin: 5%;
    height: 60px;
    box-sizing: border-box;
  }
a{
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 22px;
    line-height: 32px;
    font-weight: 800;
    letter-spacing: 8px;
    overflow: hidden;
    background: linear-gradient(to right, rgb(25, 185, 132), rgb(25, 185, 132) 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition-duration: 700ms;
    text-decoration: none;
}
.source:hover{
    outline-width: 4px;
    outline-color:rgb(25, 185, 132);
}
a:hover {
    background-position: 0 100%;
  }
